<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 공지사항</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>

    <!--css 및 라이브러리 링크 끝-->
    <style>
        .main-content {
            display: flex;
            justify-content: end;
        }

        .search-box {
            box-sizing: border-box;
            height: 45px;
        }

        .search {
            position: relative;
            margin: 0;
            border-radius: 2px;
            vertical-align: middle;
            height: 100%;
            background: transparent;
            padding: 10px;
        }

        .search-btn {
            vertical-align: middle;
            height: 100%;
            position: relative;
            bottom: 28px;
            left: 150px;
            font-size: 12px;
            background: transparent;
            border: none;
            outline: none;
        }


    </style>
</head>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
    <!-- 사이드바 시작 -->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--사이드바 끝-->

    <section class="content">
        <header class="main-header clearfix">
            <h1 class="main-header__title">
                <i class="icon pe-7s-menu"></i>
                전체 공지사항 <small> 조회 및 관리</small>
            </h1>
            <div class="main-content">
                <div class="search-box">
                    <form>
                        <input class="input-text search" type="text" placeholder="공지 검색">
                        <button class="search-btn">
                            <i class="pe-7s-search"></i>
                        </button>
                    </form>
                </div>
            </div>

        </header> <!--헤더 끝-->

        <div class="row">

            <div class="col-md-12">
                <article class="widget shadow">
                    <header class="widget__header">
                        <h3 class="widget__title">총 게시글 : [[${notices.getTotalElements}]]</h3>
                    </header>

                    <div class="widget__content" id="notice_List">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="no_idx">공지 번호</th>
                                <th class="no_title">공지 제목</th>
                                <th class="no_content">공지 내용</th>
                                <th class="regdate">등록일</th>
                                <th class="btn" style="margin: 0;">관리</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notice :${notices}">
                                <td class="no_idx" th:text="${notice.noIdx}" style="padding-left: 34px;">1</td>
                                <td class="no_title" th:text="${notice.noTitle}">이벤트 공지</td>     <!-- 들어가면 상세페이지로 -->
                                <td class="no_content" th:text="${notice.noContent}">연말이벤트~</td>
                                <td class="regdate" th:text="${#temporals.format(notice.regDate, 'yyyy-MM-dd')}">2022.12.15</td>
                                <td>
                                    <a th:href="'/service/notice/detail/'+${notice.noIdx}">
                                        <button class="btn btn-light">수정</button>
                                    </a>
                                    <button th:onclick="'deleteit('+${notice.noIdx}+')'" class="btn btn-red" style="margin: 0;">
                                        삭제
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="notice_write" style="text-align: right;">
                            <a href="/service/notice/write">
                                <button class="btn btn-light">작성하기</button>
                            </a>
                        </div>
                    </div>
                </article><!-- /widget -->
            </div>
        </div> <!-- /row -->
        <div class="page_wrap">
            <div class="page_nation" aria-label="Page navigation example">
                <a th:href="@{/service/notice(page=${notices.number - 1})}"
                   th:class="'page-prev' + (${notices.number} <= 0 ? ' page-disabled':'')"></a>
                <span th:each="pageNumber : ${paginationBarNumbers}">
                        <a th:text="${pageNumber + 1}" th:href="@{/service/notice(page=${pageNumber})}"
                           th:class="(${pageNumber} == ${notices.number} ? 'active' : '')">1</a></span>
                <a th:href="@{/service/notice(page=${notices.number + 1})}" th:class="'page-next' +
                    (${notices.number} >= ${notices.totalPages - 1} ? '':' page-disabled')"></a>
            </div>
        </div>
    </section>

    <!--footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--<script src="/js/delete.js"/>-->
<script>
    function deleteit(num){
        const noIdx = num;
        console.log(num)

        fetch('http://localhost:7070/api/delete/'+noIdx, {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                "transaction_time":`${new Date()}`,
                "resultCode":"ok",
                "description":"정상",
                "data":{
                    "noIdx":`${noIdx}`
                }
            }),
        })
            .then((res) => {
                alert('삭제 완료!')
                location.href='/service/notice'
                return;
            })

            .catch((err) => {
                alert('에러!!');
                location.reload();
                return;
            });
    }
</script>
<!--js 연결 끝-->
</body>
</html>