<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<!--css 및 라이브러리 링크 끝-->

</head>
<style>
     .value {
        width: 400px;
    }
    .memo {
        height: 200px;
    }
    .contents {
		padding: 15px;
	}
</style>
<body>
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
	<!-- 사이드바 시작 -->
	<div th:replace="fragment/aside_nav :: aside_nav"/>
	<!--사이드바 끝-->

        <section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="icon pe-7s-menu"></i>
					캐치테이블 <small> 공지사항</small>
				</h1>
				<div class="main-header__date">
					<i class="icon pe-7s-date"></i>
					<span class="date"></span>
				</div>
			</header>

		<div class="row">

			<div class="col-md-12">
				<article class="widget shadow">
					<header class="widget__header">
						<h3 class="widget__title">공지사항 작성하기</h3>
					</header>

					<div class="widget__content">
						공지사항 제목 : <input type="text" id="no_title" class="input-text value" placeholder="" value=""/>
                        </div>

						<textarea class="textarea" id="no_content" rows="6" placeholder=""></textarea>

						<button class="btn btn-light pull-right" id="notice_btn" type="button" >등록</button>
						<button class="btn btn-light pull-right" type="button" onclick="history.back();">뒤로가기</button>
						<div class="clearfix"></div>
				</article>
					</div>
			</div>
             </section>
	<!--footer 시작-->
	<div th:replace="fragment/footer :: footer"/>
	<!--footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<script src="/js/write.js"></script>
<!--js 연결 끝-->
</body>
</html>