<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의사항 상세</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>
    <!--css 및 라이브러리 링크 끝-->
</head>
<style>
    .value {
        width: 400px;
    }
    /*.ask_detail{*/
    /*    display: flex;*/
    /*}*/
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
    <!-- 사이드바 시작 -->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--사이드바 끝-->

    <section class="content">
        <header class="main-header clearfix">
            <h1 class="main-header__title">
                <i class="icon pe-7s-menu"></i>
                캐치테이블 <small> 문의 사항</small>
            </h1>
            <div class="main-header__date">
                <i class="icon pe-7s-date"></i>
                <span class="date"></span>
            </div>
        </header>

        <div class="row">

            <div class="col-md-12">
                <article class="widget shadow">
                    <header class="widget__header">
                        <h3 class="widget__title">문의 사항</h3>
                    </header>

                    <div th:object="${ask}" class="ask_detail">
                        <div class="widget__content" style="display: flex">
                            <div style="width: 125px;line-height: 30px;">제목</div>
                            <input type="text" disabled="true" class="input-text value" placeholder="" th:field="${ask.askTitle}"/>
                        </div>
                        <div style="display: flex">
                            <div style="width: 125px;line-height: 30px;">작성자 회원번호</div>
                            <input type="text" disabled="true" class="input-text value" th:field="${ask.prIdx}">
                        </div>
                        <textarea style="height: 300px;resize: none; margin-left: 125px;width: 1000px;" class="textarea" rows="6" disabled="true" placeholder="" th:field="${ask.askContent}"></textarea>
                    </div>
                    <hr>
                    <div style="display: flex">
                        <span style="width: 125px;line-height: 30px;">캐치테이블</span>
                        <input type="text" class="input-text value" id="input_imp">
                        <button style="margin-top: 0;height: 33px;" class="btn btn-skyblue" id="comment_btn">답글 등록</button>
                    </div>

                    <input type="hidden" id="ask_idx" th:value="${ask.askIdx}">
                    <div id="ask_answer" th:text="${ask.askAnswer}" style="margin-left: 125px;margin-top: 14px;"></div>

                    <div class="clearfix"></div>
                </article>
            </div>
        </div>
    </section>
    <!--footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<script src="/js/comment.js"></script>
</body>
</html>