<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신고 리뷰</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>
    <!--css 및 라이브러리 링크 끝-->
    <style>
        tr, th, td {
            border: 1px solid #cacacaa1;
            padding: 14px;
            font-size: 15px;
        }

        th {
            width: 8%;
            background-color: #a2a2a247;
            font-weight: 800;
        }
    </style>
</head>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
    <!-- 사이드바 시작 -->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--사이드바 끝-->

    <section class="content">
        <header class="main-header clearfix">
        </header> <!--헤더 끝-->

        <div class="row">
            <div class="col-md-12">
                <article class="widget widget--tabbed shadow">
                    <div class="tabs">
                        <input type="radio" name="t" id="tab1" checked>
                        <label for="tab1" class="tabs__tab">신고 들어온 리뷰</label>
                        <div class="tabs__content">
                            <!-- 신고들어온 리뷰 -->
                            <div class="tabs__content--1">
                                <div class="media social_msg" style="border: 0;" th:each="review: ${decReviews}">
                                    <div class="media-body">
                                        <table style="border: 1px solid #cacacaa1;min-width: 100%;">
                                            <tbody>
                                            <tr>
                                                <th scope="row">리뷰번호</th>
                                                <td th:text="${review.revIdx}" style="width:42%"></td>
                                                <th style="width: 8%;">신고번호</th>
                                                <td th:text="${review.derIdx}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">식당</th>
                                                <td th:text="${review.resaBisName}" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">리뷰 작성자</th>
                                                <td th:text="${review.derNick}" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">보내는 관리자</th>
                                                <td colspan="3">캐치테이블</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">리뷰 내용</th>
                                                <td th:text="${review.revContent}" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">신고 내용</th>
                                                <td th:text="${review.derContent}" colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">신고일</th>
                                                <td th:text="${#temporals.format(review.regDate, 'yyyy-MM-dd')}" colspan="3"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div style="margin: 15px 0;text-align: right;">
                                            <button onclick="clicked(this)" class="btn btn-skyblue" style="margin: 0">메세지 보내기</button>
                                            <button onclick="deletething()" class="btn btn-red" style="margin: 0;width: 111px;">삭제</button>
                                        </div>
                                    </div>
                                    <div class="modal hidden">
                                        <div class="modal">
                                            <div class="modal__overlay"></div>
                                            <div class="modal__contents">
                                                <div class="modal__header">
                                                    신고 받은 회원에게 메세지 보내기
                                                </div>
                                                <div class="modal__main" style="padding-left: 83px;padding-right: 84px;">
                                                    <table style="border: 1px solid #cacacaa1;min-width: 100%;">
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 35%;">작성자</th>
                                                            <td id="dernick" th:text="${review.derNick}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" style="width: 35%;">식당</th>
                                                            <td th:text="${review.resaBisName}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row" style="width: 35%;">보내는 관리자</th>
                                                            <td>캐치테이블</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div>
                                                        <p>
                                                            <textarea style="width: 363px;resize: none; margin-top: 11px;" type="text" th:class="'input-text message dercontent'+${review.derIdx}" name="message" placeholder="보낼 메세지를 입력하세요."></textarea>
                                                        </p>
                                                    </div>
                                                    <div style="margin: 15px 0;">
                                                        <button style="margin: 0;" th:onclick="sendadminmsg([[${review.derIdx}]],[[${review.derNick}]])"
                                                                class="btn btn-skyblue">보내기
                                                        </button>
                                                        <button style="margin: 0;width: 67px;" onclick="cclicked(this)" class="btn btn-light"
                                                                type="button">닫기
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- /social-msg -->
                            </div>
                            <!-- 신고들어온 댓글-->

                        </div> <!-- /tabs__content CONTAINER -->

                    </div> <!-- /widget__tabs -->

                </article>
            </div>
        </div> <!--/row-->
        <!--페이징 처리-->
        <div class="page_wrap">
            <div class="page_nation" aria-label="Page navigation example">
                <a th:href="@{/review/report(page=${decReviews.number - 1})}"
                   th:class="'page-prev' + (${decReviews.number} <= 0 ? ' page-disabled':'')"></a>
                <span th:each="pageNumber : ${paginationBarNumbers}">
                        <a th:text="${pageNumber + 1}" th:href="@{/review/report(page=${pageNumber})}"
                           th:class="(${pageNumber} == ${decReviews.number} ? 'active' : '')">1</a></span>
                <a th:href="@{/review/report(page=${decReviews.number + 1})}" th:class="'page-next' +
                    (${decReviews.number} >= ${decReviews.totalPages - 1} ? '':' page-disabled')"></a>
            </div>
        </div>
        <!--페이징 끝-->
    </section>
    <!--    footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--    footer 끝-->
</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->
<script>
    function clicked(event) {
        let dv = event.parentNode.parentNode.parentNode.childNodes[3];
        console.log(dv)
        dv.classList.remove("hidden")
    }

    function cclicked(event) {
        let dv = event.parentNode.parentNode.parentNode.parentNode.parentNode;
        console.log(dv)
        dv.classList.add("hidden")
    }

    function sendadminmsg(derIdx, derNick) {
        let taaContent = document.querySelector('.dercontent' + derIdx);
        console.log(taaContent.value);
        console.log(derNick);

        if (taaContent == '') {
            alert("메세지를 입력하세요!");
            taaContent.focus();
            return false;
        }
        let data1 = {derNick: derNick, taaContent: taaContent.value}
        $.ajax({
            url: "http://localhost:7070/api/talkAdmin/msg",
            type: "GET",
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data1,
            success: function (result) {
                if (result) {
                    console.log(result)
                    alert('메세지 보내기 완료!');
                    location.href = '/review/report';
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function () {
                alert("에러 발생");
            }
        });
    }

    function deletething() {
        let idx = document.querySelector("#revidx").innerText;
        let data1 = {
            idx: idx
        }
        if (confirm("해당 유저의 리뷰를 삭제하시겠습니까?")) {
            $.ajax({
                url: "http://localhost:7070/api/review/delete",
                type: "GET",
                dataType: "json",
                processData: true,
                contentType: "application/json; charset=UTF-8",
                data: data1,
                success: function (result) {
                    if (result) {
                        console.log(result)
                        alert('삭제!');
                        location.href = '/review/report';
                        // itemList1.itemList1 = result.data;
                        // if(!document.querySelector('#check1').innerText){
                        //     itemList1.boolean1 = true;}
                    } else {
                        alert("전송된 값 없음");
                    }
                },
                error: function () {
                    alert("에러 발생");
                }
            })

        } else {
            alert('다시 확인해주세요..')
        }

    }
</script>
</body>
</html>