<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 리뷰</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>
    <!--css 및 라이브러리 링크 끝-->
</head>
<style>
    .main-content {
        display: flex;
        justify-content: end;
    }

    .search-box {
        box-sizing: border-box;
        height: 45px;
    }

    .search {
        position: relative;
        margin: 0;
        border-radius: 2px;
        vertical-align: middle;
        height: 100%;
        background: transparent;
        padding: 10px;
    }

    .search-btn {
        vertical-align: middle;
        height: 100%;
        position: relative;
        bottom: 28px;
        left: 150px;
        font-size: 12px;
        background: transparent;
        border: none;
        outline: none;
    }

    .widget__header {
        display: flex;
        justify-content: space-between;
    }

    th, td {
        text-align: center;
    }


</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
    <!-- 사이드바 시작 -->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--사이드바 끝-->

    <section class="content">
        <header class="main-header clearfix">
            <h1 class="main-header__title">
                <i class="icon pe-7s-menu"></i>
                전체 리뷰 <small> 조회 및 관리</small>
            </h1>
            <div class="main-content">
                <div class="search-box">
                    <form>
                        <input class="input-text search" type="text" placeholder="리뷰 검색">
                        <button class="search-btn">
                            <i class="pe-7s-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header> <!--헤더 끝-->
        <!--        /*ㅎㅇㅎㅇ*/-->
        <div class="row">

            <div class="col-md-12">
                <article class="widget shadow">
                    <header class="widget__header">
                        <h3 class="widget__title">총 리뷰 수 : [[${reviews.getTotalElements}]]</h3>
                    </header>

                    <div class="widget__content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="rev_idx">번호</th>
                                <th class="resa_bis_name">식당</th>
                                <th class="rev_content">내용</th>
                                <th class="rev_score">별점</th>
                                <th class="rev_like">좋아요</th>
                                <th class="regdate">등록 날짜</th>
                                <th>비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="review :${reviews}">
                                <td class="rev_idx" th:text="${review.revIdx}">1</td>
                                <td class="resa_bis_name" th:text="${review.resaBisName}">스시소요</td>
                                <td class="rev_content" th:text="${review.revContent}">생선찜이 맛잇...</td>
                                <td class="rev_score" th:text="${review.revScore}">4.5</td>
                                <td class="rev_like" th:text="${review.revLike}">2</td>
                                <td class="regdate" th:text="${review.regDate}">2022.12.27</td>
                                <td><a th:href="'/review/detail/'+${review.revIdx}">
                                    <button class="btn btn-light btn-small">상세 보기</button>
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article><!-- /widget -->
            </div>

        </div> <!-- /row -->
        <!--페이징 처리-->
        <div class="page_wrap">
            <div class="page_nation" aria-label="Page navigation example">
                <a th:href="@{/review(page=${reviews.number - 1})}"
                   th:class="'page-prev' + (${reviews.number} <= 0 ? ' page-disabled':'')"></a>
                <span th:each="pageNumber : ${paginationBarNumbers}">
                        <a th:text="${pageNumber + 1}" th:href="@{/review(page=${pageNumber})}"
                           th:class="(${pageNumber} == ${reviews.number} ? 'active' : '')">1</a></span>
                <a th:href="@{/review(page=${reviews.number + 1})}" th:class="'page-next' +
                    (${reviews.number} >= ${reviews.totalPages - 1} ? '':' page-disabled')"></a>
            </div>
        </div>
        <!--페이징 끝-->
    </section>
    <!--    footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--    footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->
</body>
</html>