<div th:fragment="js">
<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/jsChat/demo/chart-area-demo.js"></script>
<!-- Scripts -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script><script src="/jquery-jvectormap-1.2.2/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/jquery-jvectormap-1.2.2/jquery-jvectormap-us-aea-en.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<!--<script type="text/javascript" src="/js/modal.js"></script>-->
<!--<script type="text/javascript" src="/js/other_modal.js"></script>-->
<script type="text/javascript" src="/js/aside.js"></script>
<!--    <script type="text/javascript" src="/js/update.js"></script>-->
</div>