<div th:fragment="owner_modal" class="modal hidden">
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__contents">
            <div class="modal__header">
                문의자 에게 메세지 보내기
            </div>
            <div class="modal__main">
                <p>문의자 : 안가도</p>
                <p>대표 이름 : 이메론</p>
                <p>문의자 번호 : 010-1111-1111</p>
                <p>보내는 관리자 : 이레몬</p>
                <p><input type="text" class="input-text message" name="message" placeholder="보낼 메세지를 입력하세요."></p>
                <div>
                    <button class="btn btn-skyblue" type="submit">보내기</button><button class="btn btn-light close_button" type="button">닫기</button>
                </div>
            </div>
        </div>

    </div>
</div>
