<div th:fragment="noShow_modal" class="other_modal hidden">
  <div class="other_modal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
      <div class="other__modal__header">
        회원에게 노쇼 메세지 보내기
      </div>
      <div class="modal__main">
        <p>
          회원 번호 : <span id="prIdx">[[${profile.prIdx}]]</span>
        </p>
        <p>
          회원 이름 :  [[${profile.prName}]]
        </p>
        <p>
          닉네임 : <span id="prNick">[[${profile.prNick}]]</span>
        </p>
        <p>
          회원 핸드폰 번호 : [[${profile.prHp}]]
        </p>
        <p>
          보내는 관리자 : 캐치테이블
        </p>
        <p>
          <input type="text" class="input-text message" id="noShow-msg" placeholder="회원에게 보낼 메세지를 입력하세요.">
        </p>
        <div>
          <button class="btn btn-skyblue" onclick="sendNoshow()">보내기</button><button class="btn btn-light close_btn" type="button">닫기</button>
        </div>
      </div>
    </div>

  </div>
</div>
