<ul th:fragment ="profile" class="profile">
  <li>
    <a class="dropdown-toggle profile__user" data-toggle="dropdown" href="#" onclick="return false;">
					<span class="profile__name">
						<span th:text="${session.name}"></span> <i class="pe-7s-angle-down"></i>
					</span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><a href="/login"><i class="icon pe-7s-close-circle pe-fw"></i> Log Out</a></li>
      <li><a href="/message"><i class="pe-7f-mail"></i> Message</a></li>
    </ul>
  </li>
</ul>