<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 상세 정보</title>
	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<!--css 및 라이브러리 링크 끝-->
</head>
<style>
	.widget__content > p{
        padding: 6px;
		font-size: 17px;
    }
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
	<!-- 사이드바 시작 -->
	<div th:replace="fragment/aside_nav :: aside_nav"/>
	<!--사이드바 끝-->

        <section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="icon pe-7s-menu"></i>
					회원 <small>상세 정보</small>
				</h1>
				<div class="main-header__date">
					<i class="icon pe-7s-date"></i>
					<span class="date"></span>
				</div>
			</header>

            <!--메인 컨텐츠 시작-->
        <div class="row">

			<div class="col-md-12">
				<article class="widget shadow">
					<div class="widget__content">
						<p> 회원 번호 :  <span id="prIdx">[[${user.prIdx}]]</span></p>
                        <p> 이름 : [[${user.prName}]]</p>
                        <p> 닉네임 : [[${user.prNick}]] </p>
                        <p> 핸드폰 번호 : [[${user.prHp}]]</p>
                        <p> 선호 지역 : [[${user.prRegion}]]</p>
						<p> 가입 날짜 : [[${user.regDate}]]</p>
                        	<p>관리자메모</p>
                        	<p><textarea id="prMemo" class="textarea" row="8" cols="12" th:text ="${user.prMemo}" placeholder="고객 유의 사항 혹은 관리자메모를 입력하세요."></textarea></p>
						<table class="table">
							<thead>
							<tr>
								<th>총 예약</th>
								<th>예약 취소</th>
								<th>노쇼</th>
								<th>포인트</th> <!--팝업으로 지급-->
							</tr>
							</thead>
							<tr>
								<td>0</td>
								<td>0</td>
								<td th:text="${user.prNoshow}">0</td>
								<td th:text="${point?.poTot}"></td>
							</tr>
						</table>
						<button class="btn btn-light pull-right" type="button" onclick="history.back();">뒤로가기</button>
						<button class="btn btn-light pull-right" type="button" onclick="sendMemo()">관리자 메모 등록</button>
						<button class="modal__open btn btn-light pull-right" type="button">포인트 지급</button>
                        <button class="other__modal btn btn-red pull-right" type="button">노쇼 블락</button>
						<div class="clearfix"></div>
					</div>


				</article>
			</div>

    </div> <!-- /row -->
<div th:replace="fragment/user_modal :: user_modal"/>
<div th:replace="fragment/noShow_modal :: noShow_modal"/>

</section>
<!--footer 시작-->
<div th:replace="fragment/footer :: footer"/>
<!--footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>

<!--js 연결 끝-->
<script src="/js/point.js"></script>
<script src="/js/prMemo.js"></script>

</body>
</html>