.shadow{box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    width: 100%;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.text-primary {
    color: #337ab7;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.chart-area {
    position: relative;
    height: 230px;
    width: 100%;
}

 .chartjs-size-monitor {
     position: absolute;
     direction: ltr;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     overflow: hidden;
     pointer-events: none;
     visibility: hidden;
     z-index: -1;
 }

