.page_wrap {
	padding: 15px;
	margin-top: 20px;
}
.page_nation {
	display:flex;
	justify-content: center;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:35px;
	height:35px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:18px;
	color:#999999;
	text-decoration:none;
}
.page_nation a.page-prev {
	background:#fff url("/images/left_arrow.svg") no-repeat center center;
	margin-right:7px;
	background-size: 25px;
}

.page_nation a.page-next {
	background:#fff url("/images/right_arrow.svg") no-repeat center center;
	margin-left:7px;
	background-size: 25px;
}

.active {
	background-color:#66cccc !important;
	color:#fff !important;
	border:1px solid #66cccc !important;
}

.page_nation a.page-disabled{
	pointer-events: none;
}
