<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>캐치테이블 관리자 가입</title>
    <!-- link 시작 -->
    <div th:replace="fragment/link :: link"/>
    <!-- link 끝-->
</head>
<body>
	<div class="wrapper login-page">

		<div class="row mtop-100">
			<div class="col-md-4 col-md-offset-4 clearfix bg--dark">
				
				<div class="main-logo">CATCH TABLE ADMIN 
					<p>캐치테이블 관리자 가입</p>
				</div>
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        <input type="text" id="adUserid" class="input-text form-control" placeholder="ID" />
                    </div>
                    <div class="input-group mtop-25">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        <input type="password" id="adUserpw" class="input-text form-control" placeholder="PW" />
                    </div>
                    <div class="input-group mtop-25">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        <input type="text" id="adName" class="input-text form-control" placeholder="NAME" />
                    </div>
                    <div class="input-group mtop-25">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        <input type="hp" id="adHp" class="input-text form-control" placeholder="HP" />
                    </div>
                    <div class="input-group mtop-25">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        <input type="email" id="adEmail" class="input-text form-control" placeholder="EMAIL" />
                    </div>
                    <div class="clearfix"></div>
                    <a id="joinBtn" class="btn btn-skyblue pull-right">JOIN</a>
                </form>

			</div>
		</div>

	</div> <!-- /wrapper -->


	<!-- Scripts -->

    <!--js 연결 시작-->
    <div th:replace="fragment/js :: js"/>
    <!--js 연결 끝-->
    <script src="/js/join.js"></script>



</body>
</html>