<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식당 입점 문의</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>
    <!--css 및 라이브러리 링크 끝-->
</head>
<style>
    .widget__content > p {
        margin-bottom: 5px;
    }
    tr, th, td {
        border: 1px solid #cacacaa1;
        padding: 14px;
        font-size: 15px;
    }

    th {
        width: 35%;
        background-color: #a2a2a247;
        font-weight: 800;
    }
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->


<div class="wrapper">
    <!--owner_nav 시작-->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--owner_nav 끝-->

    <section class="content">
        <header class="main-header clearfix">
        </header> <!--헤더 끝-->

        <div class="row">
            <div class="col-md-4" th:each="pendings :${pendings}"> <!--식당 1개 시작-->
                <article class="widget shadow">
                    <header class="widget__header" style="display: flex;justify-content: space-between;">
                        <a href="/owner/new/detail">
                            <h3 class="widget__title">
                                <span th:text="${pendings.penBisName}" style="line-height: 45px;font-weight: 800;"></span>
                            </h3>
                        </a>
                        <div>
                            <a th:href="'/owner/new/detail/'+${pendings.penIdx}" style="line-height: 45px;">
                                <button class="btn btn-light" style="padding: 6px 21px;margin: 0;">승인</button>
                            </a>
                            <button onclick="deletepend()" class="btn btn-red" style="margin: 0;">미승인</button>
                        </div>
                    </header>
<!--                    <div class="widget__content">-->
<!--                        <p style="display: none" id="penIdx" th:text="${pendings.penIdx}"></p>-->
<!--                        <div>-->
<!--                            <p>문의자 :-->
<!--                                <span  th:text="${pendings.penName}"></span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                        <p>문의식당이름 : <span id="penBisName" th:text="${pendings.penBisName}"></span></p>-->
<!--                        <p>문의자 번호 : <span th:text="${pendings.penHp}"></span></p>-->
<!--                        <p>음식 타입 : <span th:text="${pendings.penFoodtype}"></span></p>-->
<!--                        <p>식당 지역 : <span th:text="${pendings.penRegion}"></span></p>-->
<!--                        <p>월 평균 예약 수 : <span th:text="${pendings.penBook}"></span></p>-->
<!--                        <div>-->
<!--                            <a th:href="'/owner/new/detail/'+${pendings.penIdx}">-->
<!--                                <button class="btn btn-light">승인</button>-->
<!--                            </a>-->
<!--                            <button onclick="deletepend()" class="btn btn-red">미승인</button>-->
<!--                        </div>-->
<!--                    </div>-->
                    <table style="border: 1px solid #cacacaa1;min-width: 100%;">
                        <p style="display: none" id="penIdx" th:text="${pendings.penIdx}"></p>
                        <tbody>
                        <tr>
                            <th scope="row">문의자</th>
                            <td th:text="${pendings.penName}"></td>

                        </tr>
                        <tr>
                            <th scope="row">문의식당이름</th>
                            <td id="penBisName" th:text="${pendings.penBisName}"></td>
                        </tr>
                        <tr>
                            <th scope="row">문의자 번호</th>
                            <td th:text="${pendings.penHp}"></td>
                        </tr>
                        <tr>
                            <th scope="row">음식 타입</th>
                            <td th:text="${pendings.penFoodtype}"></td>
                        </tr>
                        <tr>
                            <th scope="row">식당 지역</th>
                            <td th:text="${pendings.penRegion}"></td>
                        </tr>
                        <tr>
                            <th scope="row">월 평균 예약 수</th>
                            <td th:text="${pendings.penBook}"></td>
                        </tr>
                        </tbody>
                    </table>

                </article><!-- /widget -->
            </div> <!-- /식당 1개 끝 -->
        </div>
        <!--페이징 처리-->
        <div class="page_wrap">
            <div class="page_nation" aria-label="Page navigation example">
                <a th:href="@{/owner/new(page=${pendings.number - 1})}"
                   th:class="'page-prev' + (${pendings.number} <= 0 ? ' page-disabled':'')"></a>
                <span th:each="pageNumber : ${paginationBarNumbers}">
                        <a th:text="${pageNumber + 1}" th:href="@{/owner/new(page=${pageNumber})}"
                           th:class="(${pageNumber} == ${pendings.number} ? 'active' : '')">1</a></span>
                <a th:href="@{/owner/new(page=${pendings.number + 1})}" th:class="'page-next' +
                    (${pendings.number} >= ${pendings.totalPages - 1} ? '':' page-disabled')"></a>
            </div>
        </div>
        <!--페이징 끝-->

    </section>
    <!--footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--footer 끝-->
<!--    <div th:replace="fragment/new_owner_modal :: owner_modal"/>-->
</div> <!-- /wrapper -->

<!-- Scripts -->
<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->

<script>
    function deletepend(){
        const penBisName = document.querySelector("#penBisName");

        let data = {
            penBisName : penBisName.innerText}
        $.ajax({
            url: "http://localhost:7070/api/pending/delete",
            type: "GET",
            dataType: "json",
            processData: true,
            contentType: "application/json; charset=UTF-8",
            data: data,
            success: function(result) {
                if (result) {
                    console.log(result)
                    alert('삭제 성공!')
                    location.href='/owner/new';
                    // itemList1.itemList1 = result.data;
                    // if(!document.querySelector('#check1').innerText){
                    //     itemList1.boolean1 = true;}
                } else {
                    alert("전송된 값 없음");
                }
            },
            error: function() {
                alert("에러 발생");
            }
        });
    }
</script>
</body>
</html>