<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입점 문의 상세</title>
	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<!--css 및 라이브러리 링크 끝-->
</head>
<style>
    .value {
        width: 400px;
    }
    .memo {
        height: 200px;
    }
    .contents {
		padding: 15px;
	}
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->


<div class="wrapper">
	<!--owner_nav 시작-->
	<div th:replace = "fragment/aside_nav :: aside_nav"/>
	<!--owner_nav 끝-->

        <section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="icon pe-7s-menu"></i>
					입점 문의 <small>식당 조회 및 관리</small>
				</h1>
				<div class="main-header__date">
					<i class="icon pe-7s-date"></i>
					<span class="date"></span>
				</div>
			</header>
        <div class="row">
			<div class="col-md-12">
				<article class="widget shadow">
				<form>
					<header class="widget__header">
						<p class="widget__title" id="resa_bis_name" th:text="${owner.penBisName}"></p>
					</header>

					<div class="widget__content">
                            <p>문의자 : <input type="text" id="resa_name" class="input-text value" th:field="${owner.penName}" readonly/></p>
                            <p>문의자 번호 : <input id="resa_hp" type="text" class="input-text value" th:field="${owner.penHp}" readonly/></p>
                            <p>식당 지역 : <input id="resa_region" type="text" class="input-text value" th:field="${owner.penRegion}" readonly/></p>
                            <p>매장 분야 : <input type="text" class="input-text value" th:field="${owner.penFoodtype}" readonly/></p>
                            <p>발급 해줄 ID : <input id="resa_userid" type="text" class="input-text value" placeholder="아이디를 입력하세요"></p>
                            <p>초기 비밀번호 : <input id="resa_userpw" type="text" class="input-text value" value="1234" readonly></p>
                            <div style="display:flex;  justify-content: right;">
                                <button id="registRestBtn" class="btn btn-skyblue" type="button">식당 등록</button>
                                <button class="modal__open btn btn-light" type="button">메시지 보내기</button>
                                <button class="btn btn-light" type="button" onclick="location.href='history.back()'">뒤로 가기</button>
                            </div>
						</div>
					</form>
				</article>
			</div>
		</div>
    </section>
    </div> <!-- /row -->
</section>
	<!--footer 시작-->
	<div th:replace="fragment/footer :: footer"/>
	<!--footer 끝-->
	<div th:replace="fragment/new_pending :: new_pending"/>
 <!-- /wrapper -->


	<!--js 연결 시작-->
<script src="/js/registerRest.js"></script>
<div th:replace="fragment/js :: js"/>
<script src="/js/pending.js"></script>
	<!--js 연결 끝-->


</body>
</html>