<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오너 상세</title>
	<!--css 및 라이브러리 링크 시작-->
	<div th:replace="fragment/link :: link"/>
	<!--css 및 라이브러리 링크 끝-->
</head>
<style>
    .value {
        width: 400px;
    }
    .memo {
        height: 200px;
    }
    .contents {
		padding: 15px;
	}
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->


<div class="wrapper">
	<!--owner_nav 시작-->
	<div th:replace = "fragment/aside_nav :: aside_nav"/>
	<!--owner_nav 끝-->

        <section class="content">
			<header class="main-header clearfix">
				<h1 class="main-header__title">
					<i class="icon pe-7s-menu"></i>
					식당 관리자 <small>상세 정보</small>
				</h1>
				<div class="main-header__date">
					<i class="icon pe-7s-date"></i>
					<span class="date"></span>
				</div>
			</header>
        <div class="row">

			<div class="col-md-12">
				<article class="widget shadow">
					<header class="widget__header">
						<h3 class="widget__title">스시도온</h3>
					</header>

					<div class="widget__content">
                        <p>
						대표 : <input type="text" class="input-text value" placeholder="" value="이메론" />
                        </p>
                        <p>
						ID : <input type="text" class="input-text value" placeholder="" value="admin_sushi" />
                        </p>
                        <p>
						PW : <input type="text" class="input-text value" placeholder="" value="1234" />
                        </p>
                        <p>
                        번호 : <input type="text" class="input-text value" placeholder="" value="02-1234-1234"/>
                         </p>
                        <p>
                        위치 : 서울시 강남구
                         </p>
                        <table class="table">
							<thead>
							<tr>
								<th>총 예약 현황</th>
								<th>예약 취소</th>
							</tr>
							</thead>
							<tr>
								<td>0</td>
								<td>0</td>
							</tr>
						</table>
                        <button class="btn btn-red pull-right">식당 삭제</button>
                        <button class="modal__open btn btn-light pull-right" >메시지 보내기</button>
						<button class="btn btn-light pull-right" type="submit">등록하기</button>
						<button class="btn btn-light pull-right">뒤로가기</button>
						<div class="clearfix"></div>
					</div>
				</article>
			</div>
		</div>
        </section>


    </div> <!-- /row -->
</section>
<!--footer 시작-->
<div th:replace="fragment/footer :: footer"/>
<!--footer 끝-->
<div th:replace="fragment/new_pending :: owner_modal"/>
</div> <!-- /wrapper -->

<!-- Scripts -->
<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->

</body>
</html>